# Old code for VGA outputs
#NET "r" LOC = P51 | IOSTANDARD = LVTTL;
#NET "g" LOC = P41 | IOSTANDARD = LVTTL;
#NET "b" LOC = P35 | IOSTANDARD = LVTTL;

#NET "vs" LOC = P57 | IOSTANDARD = LVTTL;
#NET "hs" LOC = P66 | IOSTANDARD = LVTTL;

NET "power" LOC = P58 | IOSTANDARD = LVTTL;

# PULLDOWN is needed to prevent floating inputs
NET "io_button<0>" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<1>" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<2>" LOC = P139 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<3>" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<4>" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;

NET "led_p<0>" LOC = P118 | IOSTANDARD = LVTTL; //done
NET "led_g<0>" LOC = P120 | IOSTANDARD = LVTTL;

NET "led_p<1>" LOC = P114 | IOSTANDARD = LVTTL; //done
NET "led_g<1>" LOC = P116 | IOSTANDARD = LVTTL;

NET "led_p<2>" LOC = P104 | IOSTANDARD = LVTTL; //done
NET "led_g<2>" LOC = P111 | IOSTANDARD = LVTTL;

NET "led_p<3>" LOC = P99 | IOSTANDARD = LVTTL; //done
NET "led_g<3>" LOC = P101 | IOSTANDARD = LVTTL;

NET "led_p<4>" LOC = P94 | IOSTANDARD = LVTTL; //done
NET "led_g<4>" LOC = P97 | IOSTANDARD = LVTTL; 

NET "led_p<5>" LOC = P87 | IOSTANDARD = LVTTL; //done
NET "led_g<5>" LOC = P92 | IOSTANDARD = LVTTL;

NET "led_p<6>" LOC = P82 | IOSTANDARD = LVTTL; //done
NET "led_g<6>" LOC = P84 | IOSTANDARD = LVTTL;

NET "led_p<7>" LOC = P119 | IOSTANDARD = LVTTL; //done
NET "led_g<7>" LOC = P121 | IOSTANDARD = LVTTL;

NET "led_p<8>" LOC = P115 | IOSTANDARD = LVTTL; //done
NET "led_g<8>" LOC = P117 | IOSTANDARD = LVTTL;

NET "led_p<9>" LOC = P105 | IOSTANDARD = LVTTL; //done
NET "led_g<9>" LOC = P112 | IOSTANDARD = LVTTL;

NET "led_p<10>" LOC = P100 | IOSTANDARD = LVTTL; //done
NET "led_g<10>" LOC = P102 | IOSTANDARD = LVTTL;

NET "led_p<11>" LOC = P95 | IOSTANDARD = LVTTL; //done
NET "led_g<11>" LOC = P98 | IOSTANDARD = LVTTL;

NET "led_p<12>" LOC = P88 | IOSTANDARD = LVTTL; //done
NET "led_g<12>" LOC = P93 | IOSTANDARD = LVTTL;

NET "led_p<13>" LOC = P83 | IOSTANDARD = LVTTL; //done
NET "led_g<13>" LOC = P85 | IOSTANDARD = LVTTL;

NET "led_p<14>" LOC = P6 | IOSTANDARD = LVTTL; //done
NET "led_g<14>" LOC = P2 | IOSTANDARD = LVTTL;

NET "led_p<15>" LOC = P10 | IOSTANDARD = LVTTL; //done
NET "led_g<15>" LOC = P8 | IOSTANDARD = LVTTL;

NET "led_p<16>" LOC = P15 | IOSTANDARD = LVTTL; //done
NET "led_g<16>" LOC = P12 | IOSTANDARD = LVTTL;

NET "led_p<17>" LOC = P22 | IOSTANDARD = LVTTL; //done
NET "led_g<17>" LOC = P17 | IOSTANDARD = LVTTL;

NET "led_p<18>" LOC = P27 | IOSTANDARD = LVTTL; //done
NET "led_g<18>" LOC = P24 | IOSTANDARD = LVTTL;

NET "led_p<19>" LOC = P33 | IOSTANDARD = LVTTL; //done
NET "led_g<19>" LOC = P30 | IOSTANDARD = LVTTL;

NET "led_p<20>" LOC = P41 | IOSTANDARD = LVTTL; //done
NET "led_g<20>" LOC = P35 | IOSTANDARD = LVTTL;

NET "led_p<21>" LOC = P5 | IOSTANDARD = LVTTL; //done
NET "led_g<21>" LOC = P1 | IOSTANDARD = LVTTL;

NET "led_p<22>" LOC = P9 | IOSTANDARD = LVTTL; //done
NET "led_g<22>" LOC = P7 | IOSTANDARD = LVTTL;

NET "led_p<23>" LOC = P14 | IOSTANDARD = LVTTL; //done
NET "led_g<23>" LOC = P11 | IOSTANDARD = LVTTL;

NET "led_p<24>" LOC = P21 | IOSTANDARD = LVTTL; //done
NET "led_g<24>" LOC = P16 | IOSTANDARD = LVTTL;

NET "led_p<25>" LOC = P26 | IOSTANDARD = LVTTL; //done
NET "led_g<25>" LOC = P23 | IOSTANDARD = LVTTL;

NET "led_p<26>" LOC = P32 | IOSTANDARD = LVTTL; //done
NET "led_g<26>" LOC = P29 | IOSTANDARD = LVTTL;

NET "led_p<27>" LOC = P40 | IOSTANDARD = LVTTL; //done 
NET "led_g<27>" LOC = P34 | IOSTANDARD = LVTTL;
