NET "r" LOC = P51;
NET "r" IOSTANDARD = LVTTL;
NET "g" LOC = P41;
NET "g" IOSTANDARD = LVTTL;
NET "b" LOC = P35;
NET "b" IOSTANDARD = LVTTL;

NET "vs" LOC = P57;
NET "vs" IOSTANDARD = LVTTL;
NET "hs" LOC = P66;
NET "hs" IOSTANDARD = LVTTL;

NET "power" LOC = P30 | IOSTANDARD = LVTTL;
