NET "r" LOC = P51 | IOSTANDARD = LVTTL;
NET "g" LOC = P41 | IOSTANDARD = LVTTL;
NET "b" LOC = P35 | IOSTANDARD = LVTTL;

NET "vs" LOC = P57 | IOSTANDARD = LVTTL;
NET "hs" LOC = P66 | IOSTANDARD = LVTTL;

NET "power" LOC = P30 | IOSTANDARD = LVTTL;
